*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --cell-size: min(15vw,100px);
    --mark-size: calc(var(--cell-size) * .9)
}

.board{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
    justify-items: center;
    align-items: center;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x,
.cell.circle{
    cursor: not-allowed;
}

.cell:first-child, 
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3n+1){
    border-left:none
}

.cell:nth-child(3n+3){
    border-right:none
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
    border-bottom: none;
}


.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after
{
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
}


.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}


.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after   {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size) ;
    height: var(--mark-size);
    background-color: black;
}


.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    background-color:gray;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size) * .7) ;
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 7rem;
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.playerName{
    display: flex;
    gap: 0.5rem;
}

.playerName textarea{
    border: none;
    outline: none;
    font-size:1.7rem;
    color: rgb(59, 59, 59);
    width: 10ch;
    resize: none;
    overflow: hidden;
    position: relative;
}

.playerName textarea:hover, .playerName textarea:active,
.playerName textarea:focus{
    border: none;
}


.playerName textarea::placeholder {
    font-size: 1.7rem;
    font-weight: bold;
}

.editImage{
    background-image: url('./edit-button.svg');
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 0.2rem;
    cursor: pointer;
}

.editImage:hover {
    filter: invert(8%) sepia(100%) saturate(6481%) hue-rotate(210deg) brightness(102%) contrast(143%); 
}